<div class="col-sm-9" id="dim">
    <div class="text-center">

        <h4><small>PRODUCT WORKS</small></h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel in exercitationem commodi rem. Eaque velit eligendi saepe dolorem, quos ut.</p>
    
        <hr>
    </div>
    <h2>I Love Coding</h2>
    <div class="row ">
        <div class="col-md-8">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/06/20/23/15/coffee-2425303__340.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="laptop" class="btn btn-success">Know more</a>
                </div>
              </div>

              <div class="card" >
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2014/11/17/03/44/samsung-534265__340.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="mobile" class="btn btn-success">Know more</a>
                </div>
              </div>

              <div class="card" >
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/02/07/20/58/tv-627876__340.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="telivision" class="btn btn-success">Know more</a>
                </div>
              </div>
              <div class="card" >
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/07/20/15/17/washing-machine-5423359__340.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="wasing" class="btn btn-success">Know more</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 border-left">
            <router-outlet></router-outlet>
        </div>
    </div>
    </div>