<div class="col-sm-9" id="dim">
    <h4><small>CONTACT US</small></h4>
    <hr>
    <h2>I Love JAM</h2>
    <div class="row">

        <div class="col-md-6">
            <app-card>
                    <h5 class="card-title">Laptop</h5>
                <a routerLink="laptop" class="btn btn-success">Know more </a>
            </app-card>
            </div>

        <div class="col-md-6">
            <app-card> <h5 class="card-title">Mobile</h5>
              <a routerLink="laptop" class="btn btn-success">Know more </a>
            </app-card>
            </div>

        <div class="col-md-6">
            <app-card> <h5 class="card-title">Telivision</h5>
              <a routerLink="laptop" class="btn btn-success">Know more </a>
            </app-card>
            </div>

        <div class="col-md-6">
            <app-card> <h5 class="card-title">Washing-Machine</h5>
              <a routerLink="laptop" class="btn btn-success">Know more </a>
            </app-card>
            </div>
        
        </div>
    </div>